<app-navbar></app-navbar>
<br />
<div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
        <h3 class="text-center"> View Employee Details</h3>
        <hr />
        <div class="card-body">
            <div>
                <label> <b> First Name: </b></label> {{employee.firstName}}
            </div>
            <div>
                <label> <b> Last Name: </b></label> {{employee.lastName}}
            </div>
            <div>
                <label> <b> Email Id: </b></label> {{employee.emailId}}
            </div>

        </div>
    </div>

</div>